In [1]:
#Kütüphaneler
import numpy as np
import pandas as pd
import matplotlib as plt

In [2]:
#Veriyi çekiyoruz
Data1=pd.read_csv('Social_Network_Ads.csv')

In [3]:
Data1

      User ID  Gender   Age  EstimatedSalary  Purchased
0    15624510    Male  19.0          19000.0          0
1    15810944    Male  35.0          20000.0          0
2    15668575  Female  26.0          43000.0          0
3    15603246  Female  27.0          57000.0          0
4    15804002    Male  19.0          76000.0          0
..        ...     ...   ...              ...        ...
395  15691863  Female  46.0          41000.0          1
396  15706071    Male  51.0          23000.0          1
397  15654296  Female  50.0          20000.0          1
398  15755018    Male  36.0          33000.0          0
399  15594041  Female  49.0          36000.0          1

[400 rows x 5 columns]

In [4]:
#Öğrenecek kolonları ve sonuç kolonu ayırıyoruz
X=Data1.iloc[:,[2,3]].values
Y=Data1.iloc[:,4].values

In [5]:
#Verileri test ve train datası olarak ayırıyoruz.
from sklearn.model_selection import train_test_split

In [6]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.25,random_state=0)

In [7]:
#Verileri Küçültüyoruz
from sklearn.preprocessing import StandardScaler

In [8]:
sc=StandardScaler()
X_train=sc.fit_transform(x_train)
X_test=sc.fit_transform(x_test)

In [11]:
#SVC Ögrenme modelini uyguluyoruz
from sklearn.svm import SVC
classifier=SVC(kernel="rbf",random_state=0)
classifier.fit(X_train,y_train)

SVC(random_state=0)

In [12]:
#Sonucları confusion matrix ile kontrol ediyoruz
from sklearn.metrics import confusion_matrix

In [14]:
Tahmin=classifier.predict(X_test)
cm=confusion_matrix(y_test,Tahmin)

In [15]:
cm

array([[64,  4],
       [ 3, 29]], dtype=int64)

In [17]:
#cross_val_score algoritmasi sayesinde bütün verileri train olarak deneyebiliyoruz
from sklearn.model_selection import cross_val_score
basari=cross_val_score(estimator=classifier,X=X_train,y=y_train,cv=4)
basari.mean()

In [19]:
basari.mean()

0.8999999999999999

In [20]:
#GridSearchCV Algoritması sayesinde istedğimiz arama modelerini deneyip bize en iyi sonuc vereni gösteriyor
#Mesala biz p listesi oluşturup içine istediğimiz arama modelerini ve parametrileri girdik bunların hepsini teker teker deniyecek
from sklearn.model_selection import GridSearchCV

In [41]:
p=[{"C":[1,5,10,20],"kernel":["linear"],"gamma":[1,0.5,0.1,0.01,0.001]},
   {"C":[1,10,100,1000],"kernel":["rbf"],"gamma":[1,0.5,0.1,0.01,0.001]},{"C":[1,5,10],"kernel":["poly"],"gamma":[1,0.5,0.1,0.01,0.001]}]

In [42]:
gscv=GridSearchCV(estimator=classifier,param_grid=p,cv=10,scoring="accuracy",n_jobs=-1)

In [43]:
grid_search=gscv.fit(X_train,y_train)
eniyisonuc=grid_search.best_score_ #En iyi sonuç
eniyiparam=grid_search.best_params_ #En iyi öğrenme modeli ve parametreleri

In [44]:
eniyisonuc

0.9099999999999999

In [45]:
eniyiparam

{'C': 1, 'gamma': 1, 'kernel': 'rbf'}